<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ProductVersion="1.0.0.19" ?>
	<?define ProductName="Fractorium $(var.ProductVersion) ($(var.GpuType))" ?>
	<?define UpgradeCode="{4714cd15-bfba-44f6-8059-9e1466ebfa6e}"?>
	<?define Manufacturer="Fractorium"?>
	
	<!--
	Original GUID,
	<?define ProductCode="{703001af-6255-4671-9a69-571198b4c0dd}"?>
	-->

	<!--
	Change this for every release.
	-->
	<?define ProductCode="{8A8580F6-017D-455D-899E-C0FF91ECEB68}"?>
	
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package
			 Keywords="Installer"
			 Platform="x64"
			 Description="$(var.Manufacturer)"
			 Comments="$(var.Manufacturer)"
			 Manufacturer="$(var.Manufacturer)"
			 InstallScope="perUser"
			 InstallerVersion="400"
			 InstallPrivileges="limited"
			 Compressed="yes"
			 Languages="1033"
			 SummaryCodepage="1252"
			 />

		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="0.0.0"
											IncludeMinimum="no"
											OnlyDetect="no"
											Maximum="$(var.ProductVersion)"
											IncludeMaximum="no"
											Property="PREVIOUSFOUND" />
		</Upgrade>

		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallInitialize"/>
		</InstallExecuteSequence>
				
		<MediaTemplate EmbedCab="yes" />
	 
		<Icon Id="AddRemoveProgramsIcon" SourceFile="$(var.SolutionDir)..\..\..\Source\Fractorium\Icons\Fractorium.ico"/>
		<Property Id="ARPPRODUCTICON" Value="AddRemoveProgramsIcon" />
		<Feature Id="MainApplication" Title="Main Application" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="BenchComponents" />
			<ComponentGroupRef Id="ExampleComponents" />
			<ComponentGroupRef Id="PlatformComponents" />
			<ComponentGroupRef Id="ImageFormatComponents" />
			<ComponentRef Id="FractoriumStartMenuShortcut"/>
			<ComponentRef Id="FractoriumDesktopShortcut"/>
		</Feature>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)..\..\..\Data\gplv3.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)..\..\..\Source\Fractorium\Icons\banner.bmp" /><!--493 x 58 pixels -->
		<WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)..\..\..\Source\Fractorium\Icons\dialog.bmp" /><!--493 x 312 pixels -->
		
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />
		<Property Id="MSIFASTINSTALL" Value="1" />
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />   
	</Product>
	
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir" >
			<!-- Doing this requires admin access, so we don't do it.
			<Directory Id="ProgramFiles64Folder" >
				<Directory Id="INSTALLFOLDER" Name="Fractorium" >
					<Directory Id="INSTALLFOLDERPLATFORMS" Name="platforms" />
				</Directory>
			</Directory>
			-->

			<!-- Doing this doesn't require admin access.
			It reports a ton of errors, but oddly enough, an MSI is still created with the errors.
			-->
			<Directory Id="AppDataFolder" >
				<Directory Id="INSTALLFOLDER" Name="Fractorium" >
					<Directory Id="INSTALLFOLDERBENCH" Name="Bench" />
					<Directory Id="INSTALLFOLDEREXAMPLES" Name="Examples" />
					<Directory Id="INSTALLFOLDERPLATFORMS" Name="platforms" />
					<Directory Id="INSTALLFOLDERIMAGEFORMATS" Name="imageformats" />
				</Directory>
			</Directory>
			
			<!-- Shortcut folders-->
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDirLevel1" Name="Fractorium" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<Component Id="FractoriumStartMenuShortcut" Directory="ProgramMenuDirLevel1" Guid="f1eaf3ba-9b61-48b6-8994-49ebc6b405aa">
			<Shortcut Id="FractoriumStartMenuShortcut"
					 Directory="ProgramMenuDirLevel1"
					 Name="Fractorium"
					 Target="[INSTALLFOLDER]\Fractorium.exe"
					 WorkingDirectory="INSTALLFOLDER"
					 Icon="AddRemoveProgramsIcon"
					 />
			<Condition>1</Condition>
			<RemoveFolder Id="FractoriumStartMenuShortcut" On="uninstall" />
			<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
		</Component>
		<Component Id="FractoriumDesktopShortcut" Directory="DesktopFolder" Guid="b73ff21c-08ac-47ad-a510-b3ce90e43979">
			<Shortcut Id="FractoriumDesktopShortcut"
					 Directory="DesktopFolder"
					 Name="Fractorium"
					 Target="[INSTALLFOLDER]\Fractorium.exe"
					 WorkingDirectory="INSTALLFOLDER"
					 Icon="AddRemoveProgramsIcon"
					 />
			<RemoveFolder Id="FractoriumDesktopShortcut" On="uninstall" />
			<Condition>1</Condition>
			<RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
		</Component>
	</Fragment>
	
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Fractorium.exe" Guid="ccc04ca4-c747-4330-8cfd-bdd943b185c0">
				<File Id="Fractorium.exe" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\$(var.Configuration)\Fractorium.exe" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="EmberRender.exe" Guid="12d49219-9269-495a-b8e4-3d33cb32d280">
				<File Id="EmberRender.exe" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\$(var.Configuration)\EmberRender.exe" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="EmberAnimate.exe" Guid="ae362704-93a3-48dc-a13b-7c4eabd87ee1">
				<File Id="EmberAnimate.exe" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\$(var.Configuration)\EmberAnimate.exe" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="EmberGenome.exe" Guid="7a93f079-216a-4d1c-9b02-8ca93a6a8daa">
				<File Id="EmberGenome.exe" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\$(var.Configuration)\EmberGenome.exe" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="Ember.dll" Guid="c0f80dee-7a16-4d6a-b7ed-d6cd162154eb">
				<File Id="Ember.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\$(var.Configuration)\Ember.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="EmberCL.dll" Guid="21c0e372-c605-4e0d-9ba8-94e38949833b">
				<File Id="EmberCL.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\$(var.Configuration)\EmberCL.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="Half2_3.dll" Guid="695cda02-1d6a-4e2a-8ccd-3a9600be2b96">
				<File Id="Half2_3.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\Half-2_3.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="Iex2_3.dll" Guid="e485e9d1-c883-46f9-a898-5fdbbe6a83f8">
				<File Id="Iex2_3.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\Iex-2_3.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="IlmImf2_3.dll" Guid="911ec3b1-c2e2-439c-af3b-cd16a9280c7f">
				<File Id="IlmImf2_3.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\IlmImf-2_3.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="IlmThread2_3.dll" Guid="89d0f2d4-7619-4bd2-8c22-6ae677d666b8">
				<File Id="IlmThread2_3.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\IlmThread-2_3.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="Imath2_3.dll" Guid="16c3c309-18b7-4232-b19b-59e56d4b75bf">
				<File Id="Imath2_3.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\Imath-2_3.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="libxml2.dll" Guid="bb3aa687-7a3d-4d16-a27c-28529b472754">
				<File Id="libxml2.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\libxml2.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="tbb.dll" Guid="ffa1b2ec-32d5-41aa-9380-fb04d8139103">
				<File Id="tbb.dll" Source="$(var.SolutionDir)..\..\..\Bin\$(var.Platform)\Release\tbb.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			<Component Id="msvcp140.dll" Guid="8f1ffde7-c1bd-45fb-8bc8-26dde552eafd">
				<File Id="msvcp140.dll" Source="$(var.DevEnvDir)..\..\VC\Redist\MSVC\14.15.26706\x64\Microsoft.VC141.CRT\msvcp140.dll" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			<Component Id="vcruntime140.dll" Guid="50c9bc27-c547-4a03-9f6c-cd416f449dd8">
				<File Id="vcruntime140.dll" Source="$(var.DevEnvDir)..\..\VC\Redist\MSVC\14.15.26706\x64\Microsoft.VC141.CRT\vcruntime140.dll" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			<Component Id="vccorlib140.dll" Guid="affe33e7-1e64-4bb0-a062-2b56f77459b4">
				<File Id="vccorlib140.dll" Source="$(var.DevEnvDir)..\..\VC\Redist\MSVC\14.15.26706\x64\Microsoft.VC141.CRT\vccorlib140.dll" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			<Component Id="concrt140.dll" Guid="7fb716a1-1b4f-42fb-89c7-4d216ebd6e2e">
				<File Id="concrt140.dll" Source="$(var.DevEnvDir)..\..\VC\Redist\MSVC\14.15.26706\x64\Microsoft.VC141.CRT\concrt140.dll" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			<Component Id="flam3palettes.xml" Guid="d3adb0bb-14ef-4923-99d9-a5784b7ef04e">
				<File Id="flam3palettes.xml" Source="$(var.SolutionDir)..\..\..\Data\flam3-palettes.xml" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="userpalettes.xml" Guid="53e1e43e-b01e-4159-94fa-bdf6e8fd1d57">
				<File Id="userpalettes.xml" Source="$(var.SolutionDir)..\..\..\Data\user-palettes.xml" KeyPath="yes" Checksum="yes" />
			</Component>
			
			<Component Id="boxtail_pack_02.gradient" Guid="f9bd8f21-6a61-4e4a-a7e6-bc50f2633dd6">
				<File Id="boxtail_pack_02.gradient" Source="$(var.SolutionDir)..\..\..\Data\boxtail_pack_02.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="boxtail_pack_03_triangle.gradient" Guid="19d4957a-7ce7-4afd-b74b-5049265dffa2">
				<File Id="boxtail_pack_03_triangle.gradient" Source="$(var.SolutionDir)..\..\..\Data\boxtail_pack_03_triangle.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="boxtail_pack_04_mineshack.gradient" Guid="2f144d87-97bd-4fe6-8000-f0a9e62f770f">
				<File Id="boxtail_pack_04_mineshack.gradient" Source="$(var.SolutionDir)..\..\..\Data\boxtail_pack_04_mineshack.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="fardareismai_pack_01_variety_number_128.gradient" Guid="9ee0a298-b35b-4501-9beb-c0cdca41ca25">
				<File Id="fardareismai_pack_01_variety_number_128.gradient" Source="$(var.SolutionDir)..\..\..\Data\fardareismai_pack_01_variety_number_128.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="fardareismai_pack_02_b_sides.gradient" Guid="69e0c7d9-283b-4161-a924-b015eb658e8d">
				<File Id="fardareismai_pack_02_b_sides.gradient" Source="$(var.SolutionDir)..\..\..\Data\fardareismai_pack_02_b_sides.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="fardareismai_pack_03_old_and_new.gradient" Guid="1059241b-67e7-4a36-878d-675f3282c530">
				<File Id="fardareismai_pack_03_old_and_new.gradient" Source="$(var.SolutionDir)..\..\..\Data\fardareismai_pack_03_old_and_new.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="fardareismai_pack_04_hoard.gradient" Guid="c611ee88-e0f4-493b-84f5-c65f899d43f3">
				<File Id="fardareismai_pack_04_hoard.gradient" Source="$(var.SolutionDir)..\..\..\Data\fardareismai_pack_04_hoard.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="fractaldesire_pack_01.gradient" Guid="9f0885ab-920f-420d-a962-9bc515986701">
				<File Id="fractaldesire_pack_01.gradient" Source="$(var.SolutionDir)..\..\..\Data\fractaldesire_pack_01.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="rce_ordinary_pack_01_colornation.gradient" Guid="8eb62cb8-279b-4518-9098-c0fec5830493">
				<File Id="rce_ordinary_pack_01_colornation.gradient" Source="$(var.SolutionDir)..\..\..\Data\rce_ordinary_pack_01_colornation.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_01.gradient" Guid="967c9577-74d1-4bc0-aa52-2fb78507b572">
				<File Id="tatasz_pack_01.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_01.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_02_colder.gradient" Guid="304976a2-8ae7-47eb-bf1f-c6f3cbe380b8">
				<File Id="tatasz_pack_02_colder.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_02_colder.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_02_dark.gradient" Guid="05ed49cf-364c-4547-a107-2bd46afc6664">
				<File Id="tatasz_pack_02_dark.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_02_dark.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_02_warmer.gradient" Guid="62282580-0ae3-484e-98ba-38ec7bbf80e2">
				<File Id="tatasz_pack_02_warmer.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_02_warmer.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_03.gradient" Guid="7e5b5ef3-45be-4807-a88f-a8b773663e77">
				<File Id="tatasz_pack_03.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_03.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_04.gradient" Guid="455d27f4-215f-4db8-9a06-826e8327b8b3">
				<File Id="tatasz_pack_04.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_04.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_05.gradient" Guid="6a146786-9514-4a3a-b7d7-31d3074e2101">
				<File Id="tatasz_pack_05.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_05.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_06.gradient" Guid="927c7a40-093f-4e1f-8f53-869bb31f219a">
				<File Id="tatasz_pack_06.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_06.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_pack_07.gradient" Guid="917183d1-7e85-478f-9c73-3ca34f50ac70">
				<File Id="tatasz_pack_07.gradient" Source="$(var.SolutionDir)..\..\..\Data\tatasz_pack_07.gradient" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			
			<Component Id="Quartz_Varieties.ugr" Guid="b319cfb3-9037-490f-a7bc-608c4fc51361">
				<File Id="Quartz_Varieties.ugr" Source="$(var.SolutionDir)..\..\..\Data\Quartz_Varieties.ugr" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="Amphibole_Supergroup.ugr" Guid="17f19f07-bf1a-441f-8547-cf76ac5d146d">
				<File Id="Amphibole_Supergroup.ugr" Source="$(var.SolutionDir)..\..\..\Data\Amphibole_Supergroup.ugr" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="Apatite_Supergroup.ugr" Guid="98355dc3-d06c-4182-8948-0ff17557b041">
				<File Id="Apatite_Supergroup.ugr" Source="$(var.SolutionDir)..\..\..\Data\Apatite_Supergroup.ugr" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="Feldspar_Group.ugr" Guid="5bb329fe-c8ea-475e-988b-2108f64b2228">
				<File Id="Feldspar_Group.ugr" Source="$(var.SolutionDir)..\..\..\Data\Feldspar_Group.ugr" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="Mica_Group.ugr" Guid="d907fead-c39a-4a97-9574-ed886d43c6ca">
				<File Id="Mica_Group.ugr" Source="$(var.SolutionDir)..\..\..\Data\Mica_Group.ugr" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			
			<Component Id="dark_windows.qss" Guid="c120ace3-5fab-416f-b7f1-a8d9e3e0f061">
				<File Id="dark_windows.qss" Source="$(var.SolutionDir)..\..\..\Data\dark_windows.qss" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			
			<Component Id="lightdark.qss" Guid="e4cbb38c-359e-464d-938b-e52ff0ce375d">
				<File Id="lightdark.qss" Source="$(var.SolutionDir)..\..\..\Data\lightdark.qss" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="uranium.qss" Guid="64e23769-0631-4c5c-a714-bf7c50dc3c1a">
				<File Id="uranium.qss" Source="$(var.SolutionDir)..\..\..\Data\uranium.qss" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="VersionHistory.txt" Guid="8b031217-9e7d-4700-9ab8-2593a4e002b6">
				<File Id="VersionHistory.txt" Source="$(var.SolutionDir)..\..\..\Data\Version History.txt" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
			
			<Component Id="Qt5Core.dll" Guid="0198dd4b-9bbb-4ea2-86e3-6ea0f4f6ac51">
				<File Id="Qt5Core.dll" Source="$(env.QTDIR)\bin\Qt5Core.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
			
			<Component Id="Qt5Gui.dll" Guid="7f93dcc2-55db-4920-83d7-e06c23f7719a">
				<File Id="Qt5Gui.dll" Source="$(env.QTDIR)\bin\Qt5Gui.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
				
			<Component Id="Qt5Widgets.dll" Guid="006bb2f1-7a38-426f-ba2c-5196d1d6c24d">
				<File Id="Qt5Widgets.dll" Source="$(env.QTDIR)\bin\Qt5Widgets.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
	
	<Fragment>
		<ComponentGroup Id="BenchComponents" Directory="INSTALLFOLDERBENCH">
			<Component Id="EmberBench.ps1" Guid="a0362c11-e54a-4712-b800-0bb7c43d285e">
				<File Id="EmberBench.ps1" Source="$(var.SolutionDir)..\..\..\Data\Bench\EmberBench.ps1" KeyPath="yes" Checksum="yes" ReadOnly="no"/>
			</Component>

			<Component Id="golubaja_rippingfrominside_complexcode.flame" Guid="74fc54d8-eb7f-4e88-b839-c6d0b847d78e">
				<File Id="golubaja_rippingfrominside_complexcode.flame" Source="$(var.SolutionDir)..\..\..\Data\Bench\golubaja_rippingfrominside_complexcode.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="mfeemster_basicmemory.flame" Guid="4ebf1154-b06a-4e04-aeb7-6fb505dd9b90">
				<File Id="mfeemster_basicmemory.flame" Source="$(var.SolutionDir)..\..\..\Data\Bench\mfeemster_basicmemory.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_springcrown_manysimplexforms.flame" Guid="29993c8f-26b6-41ab-b585-d535aac0bfb5">
				<File Id="tatasz_springcrown_manysimplexforms.flame" Source="$(var.SolutionDir)..\..\..\Data\Bench\tatasz_springcrown_manysimplexforms.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tyrantwave_flippeddisc_normal.flame" Guid="ee38fdfd-8300-45c8-b3fb-897dca530df0">
				<File Id="tyrantwave_flippeddisc_normal.flame" Source="$(var.SolutionDir)..\..\..\Data\Bench\tyrantwave_flippeddisc_normal.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="zy0rg_six_bigcomplexcode.flame" Guid="95ef408d-6d99-4dd0-89c3-105b56ff50b2">
				<File Id="zy0rg_six_bigcomplexcode.flame" Source="$(var.SolutionDir)..\..\..\Data\Bench\zy0rg_six_bigcomplexcode.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDEREXAMPLES">
			<Component Id="pillemaster_hexagonal_tilings.flame" Guid="a0b85758-30b2-49e7-85ca-438046cb83e8">
				<File Id="pillemaster_hexagonal_tilings.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\pillemaster_hexagonal_tilings.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="plangkye_examples.flame" Guid="aa6c81a6-28e4-49e7-bef6-fdebfe21e47c">
				<File Id="plangkye_examples.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\plangkye_examples.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_examples.flame" Guid="27d621ec-88b7-4957-ae5f-9b3cc8c8f21a">
				<File Id="tatasz_examples.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\tatasz_examples.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tatasz_substitution.flame" Guid="bb1cb196-e5d9-4250-843a-1e649c896ba8">
				<File Id="tatasz_substitution.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\tatasz_substitution.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="tyrantwave_base_forms.flame" Guid="8773ff3a-d29f-4a41-acb4-e06cafb236ad">
				<File Id="tyrantwave_base_forms.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\tyrantwave_base_forms.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="b33rheart_examples.flame" Guid="c014f5b0-d45f-4bb5-9af7-ac98326dcef1">
				<File Id="b33rheart_examples.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\b33rheart_examples.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>

			<Component Id="b33rheart_sierpinski.flame" Guid="535430de-6878-41b2-913e-cb35e915cb4f">
				<File Id="b33rheart_sierpinski.flame" Source="$(var.SolutionDir)..\..\..\Data\Examples\b33rheart_sierpinski.flame" KeyPath="yes" Checksum="yes" ReadOnly="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
	
	<Fragment>
		<ComponentGroup Id="PlatformComponents" Directory="INSTALLFOLDERPLATFORMS">
			<Component Id="qwindows.dll" Guid="627b7f5a-8fa6-4c78-a6b7-81fcdd8fdd63">
				<File Id="qwindows.dll" Source="$(env.QTDIR)\plugins\platforms\qwindows.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ImageFormatComponents" Directory="INSTALLFOLDERIMAGEFORMATS">
			<Component Id="qjpeg.dll" Guid="da079a2d-1ab7-443c-a21e-4434ef58c6cc">
				<File Id="qjpeg.dll" Source="$(env.QTDIR)\plugins\imageformats\qjpeg.dll" KeyPath="yes" Checksum="yes" ProcessorArchitecture="x64" ReadOnly="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>