Source: fractorium
Section: graphics
Priority: optional
Maintainer: Gambhiro Bhikkhu <gambhiro.bhikkhu.85@gmail.com>
Build-Depends: debhelper (>= 9), g++ (>= 4.9), libgl1-mesa-dev, libgl-dev, libglm-dev, libjpeg-dev, libpng12-dev, libqt5opengl5-dev, libtbb-dev, libxml2-dev, ocl-icd-libopencl1, ocl-icd-opencl-dev, opencl-headers, qt5-default, qt5-qmake, qtbase5-dev
Standards-Version: 3.9.5
Homepage: http://mfeemster.deviantart.com/
Vcs-Git: https://github.com/mfeemster/fractorium
Vcs-Browser: https://github.com/mfeemster/fractorium

Package: fractorium
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A fractal flame editor with GPU support
 A fractal flame editor with GPU support.