[Desktop Entry]
Version=1.0
Type=Application
Name=Fractorium
GenericName=Fractal flame editor
Comment=Fractal flame editor
Exec=fractorium
TryExec=fractorium
Icon=/usr/share/fractorium/Fractorium.png
Terminal=false
Categories=Graphics;
MimeType=