[Desktop Entry]
Version=1.0
Type=Application
Name=Fractorium
Comment=Fractal flame editor
Exec=fractorium
TryExec=fractorium
Icon=fractorium
Terminal=false
Categories=Graphics;
MimeType=
